<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
</head>
<body>
    <div>
        <nav class="navbar">
            <div class="title">nakshatra <span class="sub-title">UI</span></div>
            <div class="nav-items-box">
                <a href="" class="nav-items">Home</a>
                <a class="nav-items">Docs</a>
            </div>
        </nav>
    </div>
</body>
</html>