<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../index.css">
    <title>Alerts</title>
</head>
<body>
    <div>
        <nav class="navbar">
            <div class="hamburger display-none">
                <i class="fas fa-bars"></i>
            </div>
            <div class="title">nakshatra <span class="sub-title">UI</span></div>
            <div class="nav-items-box">
                <a href="" class="nav-items">Home</a>
                <a href="" class="nav-items">Docs</a>
            </div>
        </nav>
    </div>
</body>
</html>