@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

:root {
    --primary-color: rgb(7, 172, 248);
    --secondary-color: rgb(32, 30, 30);
    --normal-text-color: rgb(80, 76, 76);
    --hover-text-color: rgb(49, 48, 48);
    --hover-background-color: rgba(44, 167, 224, 0.315);
    --shadow-color: rgb(161, 148, 148);
    --white-smoke-color: #FFF9F9;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0; 
}

ul {
    list-style-type: none;
}


@media screen and (max-width: 540px) {
    html {
        font-size: 80%;
    }
}