.navbar {
    display: flex;
    align-items:center;
    box-shadow: 3px 3px 4px rgb(161, 148, 148);
    padding: 10px 20px;
    font-size: 1.3rem; 
    font-weight: 500;
}

.display-none {
    display: none;
}

.title {
    font-size: 2rem;
    margin-block-start: 0;
    margin-block-end: 0; 
    font-weight: 400;
    text-shadow: 3px 3px 4px rgb(161, 148, 148);
}

.sub-title {
    color:rgb(7, 172, 248)
}

.nav-items-box {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}